html {
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #EFEFEF;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

header {
    background-color: hsl(216, 18%, 16%);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    transition: all ease-in-out 600ms
}

header nav {
    position: relative;
    display: flex;
    padding: 20px;
    gap: 30px;
}

header nav div:nth-child(1) {
    position: relative;
    right: 18%;
}

header nav div a {
    position: relative;
    top: 20%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    transition: all 350ms;
}

header nav div a:hover, header nav div a:active {
    background: hsla(0, 0%, 100%, 20%);
}
  

#navMenu button {
    background-color: hsla(217, 10%, 25%, 0%);
    position: absolute;
    right: 16px;
    z-index: 5;
    border: 1px solid hsla(0, 0%, 100%, 0%);
    border-radius: 50%;
}


#buttonsSection button {
    padding: 9px 17px;
    color: #FFF;
    background-color: hsl(14, 100%, 57%);
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    /* outline-color: rgba(255, 255, 255, 0.5); */
    outline-color: hsla(14, 100%, 57%, 0.5);
    outline-offset: 0px;
  }
  
  #mainHeader button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
  }


  #myDIV {
    width: 35%;
    height: auto;
    padding: 25px 0;
    text-align: center;
    background-color: #222831;
    margin-top: 20px;
}

/* About us */

h3 {
    color: #222831;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:2px solid #FF5722;
    padding-bottom: 5px;
}

#about p {
    text-align: justify;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    margin: 0px 30px;
    color: hsl(217, 10%, 25%);
}

#about ol {
    text-align: justify;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    text-align: justify;
    margin: 0px 90px;
    padding: 10px;
    list-style-type: decimal;
    color: hsl(217, 10%, 25%);
}

/* Tiny hero image */

#tinyHero {
    height: 400px;
    position: relative;
    filter: blur(2px);
}

/* Contact us form */
 
#contact {
	padding: 12px 24px 24px 24px;
	background: hsl(217, 10%, 25%);
	border-radius: 4px;
    width: 70%;
    height: 50%;
    position: relative;
    left: 10%;
    color: white; 
    margin-bottom: 30px;
}

#contact h3 {
    color: white;
}

label {
	font-size: 16px;
    color: white; 
}

input[type=text], input[type=tel], input[type=email],textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=submit], input[type=reset] {
	background-color: hsl(14, 100%, 57%);
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	position: relative;
    margin-right: 20px;
	text-align: center;
}

input[type=submit]:focus {
	background: #49b94d;
}

input[type=submit]:hover, input[type=reset]:hover {
	background: hsl(14, 100%, 47%);
}

/* FOOTER */

footer {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222831; 
    color: white;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    gap: 30px;
    list-style: none;
}

footer ul li a {
    position: relative;
    top: 20%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    transition: all 350ms;
}