.slides{
  display: flex;
  position: relative;
  left: 0px;
}

.slides img {
  flex-grow: 100;
  object-fit: cover;
}

.slides input{
  display: none;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    top: 90%;
    left: 20%;
    /* margin-top: 40px; */
    /* margin-left: 250px; */
    display: flex ;
    justify-content: center;
    /* bottom: 40px; */
  }
  
  .manual-btn{
    border: 2px solid #ffffff;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #ffffff;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
    
  }

  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }

 .buttonLeft, .buttonRight {
   background-color: hsla(0, 0%, 100%, 30%);
   z-index: 3;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   top: 220px;
   position: absolute;
   border: 1px solid hsla(0, 0%, 100%, 40%);
   color: #222831;
 }

 .buttonLeft:hover, .buttonRight:hover, .divButtonLeft:hover, .divButtonRight:hover {
  background-color: hsla(0, 0%, 100%, 60%);
  color: #FF5722;
 }

 .buttonLeft {
   left: 15px;
 }

 .buttonRight {
   right: 15px;
 }

 .divButtonLeft, .divButtonRight {
   background-color: hsla(0, 0%, 100%, 30%);
   z-index: 3;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   top: 220px;
   border: 1px solid hsla(0, 0%, 100%, 40%);
   color: #222831;
 }


  /*css for automatic navigation*/
