/* *{margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( to top right, #fff, #ccc);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Specifically Targeting the Main Header (not to be confused with headers within cards) */

/*
  body>header {
    background: #062f4f;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: .5em 5em;
  }
  
  body>header:after {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  }
  
  body>header nav {
    float: right;
    line-height: 2.5em;
  }
  
  body>header nav li {
    display: inline-block;
  }
  
  body>header nav li a {
    color: #eee;
    padding: 0 .5em;
    text-decoration: none;
  } 
  */

html {
  width: 100%;
}

/* section {
  display: flex;
  justify-content: center;
  align-items: center;
} */



.container {
  padding-left: 20px;
  position: relative;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: 0.5s;
}

.container .box:hover {
  z-index: 1;
  transform: scale(1.25);
  box-shadow: 0 25px 40px #6b6565b7;
}

.container .box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .box .imgBox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(180deg, #f00, rgb(32, 24, 24));
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgBox::before {
  opacity: 1;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
}

.container .box:hover .content h2 {
  transform: translateY(0);
  transition-delay: 0.6s;
}

.container .box .content p {
  color: #fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 14px;
}

.container .box:hover .content p {
  transform: translateY(0);
  transition-delay: 0.75s;
}

form {
  padding-top: 40px;
}


