.productimg img {
    width: 295px;
    height: 280px;
}
.productimg{
    display: grid;
    grid-template-columns: 315px 315px 315px 315px;
}

body {
    background-image: linear-gradient( to top right, #fff, #ccc);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  /* Specifically Targeting the Main Header (not to be confused with headers within cards) */
  
  body>header {
    background: #062f4f;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    padding: .5em 5em;
  }
  
  body>header:after {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
  }
  
  body>header nav {
    float: right;
    line-height: 2.5em;
  }
  
  body>header nav li {
    display: inline-block;
  }
  
  body>header nav li a {
    color: #eee;
    padding: 0 .5em;
    text-decoration: none;
  }
  