body {
    width: 1280px;
    margin: auto;
    position: relative;
}

header {
    height: 90px;
    background-color: gray;
    display: grid;
    grid-template-columns: 80px 700px 200px auto;
    align-items: center;
}

header img {
    padding-left: 70px;
}

#middle-nav {
    display: grid;
    grid-template-columns: 300px 80px 80px 80px;
    text-align: right;
}

header nav a {
    padding: 20px;
    display: inline;
    margin: 20px;
    padding: 0px;
    text-decoration: none;
    color: rgb(10, 10, 10);
}

button {
    width: 90px;
    border-radius: 10px;
}

#side-nav {
    display: grid;
    grid-template-columns: 100px 80px;
}

#main-img {
    padding-left: 20px;
    padding-top: 20px;
}

.w3-display-left {
    position: absolute;
    top: 60%;
    left: 60px;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}

.w3-display-right {
    position: absolute;
    top: 60%;
    right: 60px;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}

.w3-black,
.w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important
}

.w3-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

#products {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    height: 720px;
}

#best-seller {
    height: 500px;
    overflow: scroll;
}

#main {
    height: 630px;
}

#fourImg {
    display: grid;
    grid-template-columns: 305px 305px 305px 305px;
}

#scrollimg {
    height: 720px;
}

#contactParagh {
    width: 1280px;
    height: 720px;
}


/* footer{
    width: 1280px;
    height: 720px;
  position:absolute;
  bottom:0;
  } */