@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    background-color: #EFEFEF;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
/* header styling */

section {
    height: 100vh;
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

header {
    background-color: hsl(216, 18%, 16%);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    transition: all ease-in-out 600ms
}

header nav {
    position: relative;
    display: flex;
    padding: 20px;
    gap: 30px;
}

header nav div:nth-child(1) {
    position: relative;
    right: 28%;
}

header nav div a, footer ul li a {
    position: relative;
    top: 20%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 14px;
    font-weight: 550;
    text-transform: uppercase;
    transition: all 350ms;
}

header nav div a:hover, header nav div a:active {
    background: hsla(0, 0%, 100%, 20%);
}
  

#navMenu button {
    background-color: hsla(217, 10%, 25%, 0%);
    position: absolute;
    right: 16px;
    z-index: 5;
    border: 1px solid hsla(0, 0%, 100%, 0%);
    border-radius: 50%;
    cursor: pointer;
}

.sticky {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 550ms;
    background-color: hsla(216, 18%, 16%, 85%);
    height: 50px;
    width: 100%;
    padding-bottom: 10px;
}

.sticky nav a:hover {
    background: hsla(0, 0%, 100%, 20%);
    position: relative;
}

#usersBar {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #b9b9b9;
}

#usersBar span {
    display: flex;
}

.flexElement small {
    position: relative;
    right: 130px;
    top: 27px;
    font-size: 12px;
}

#fbSmall {
    right: 160px;
}

.flexElement h2 {
    position: relative;
    top: 10px;
    font-size: 14px;
    font-weight: bold;
}

#mainheader {
    background-color: #222831;
}

#myDIV {
    width: 35%;
    height: auto;
    padding: 25px 0;
    text-align: center;
    background-color: #222831;
    margin-top: 20px;
}

#facebookText {
    margin-left: 10px;
}

#buttonsSection button, #brief button{
    padding: 9px 17px;
    color: #FFF;
    background-color: hsl(14, 100%, 57%);
    margin-left: 5px;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    /* outline-color: rgba(255, 255, 255, 0.5); */
    outline-color: hsla(14, 100%, 57%, 0.5);
    outline-offset: 0px;
  }
  
  #mainHeader button:hover, #brief button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
  }

/* For the slider  */

#mainSlider {
    position: relative;
    top: 0;
    left: 0;
    height: 40%; 
}

/* services section */


#Services h2, .accessories h2, #brief h2 {
    color: #222831;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

#servicesContent, #breifContent {
    display: flex;
    margin: 40px 50px 0px 40px;
    gap: 50px;
    padding: 25px;
    border: 1px solid white;
}

#Servicesinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#Servicesinfo h3 {
    color: #222831;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#Servicesinfo p, #breifContent p {
    color: #393E46;
    line-height: 28px;
    font-size: 18px;
}

#Servicesinfo button {
    height: 50px;
    width: 130px;
    border: 1px solid #222831;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration:none;
    color:#222831;
    text-align:center;
}

#servicesButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  #servicesButtonContainer a {
    position: relative;
    width: 200px;
    height: 45px;
    display: inline-block;
    background: #000;
    margin: 20px;
  }
  
  #servicesButtonContainer a::before, #servicesButtonContainer a::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ff7c22, #ff8e22, #EFEFEF, #03f0fc, #02a8b1);
    transition: 0.5s;
  }
  
  #servicesButtonContainer a:hover::before {
    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;
  }
  
  #servicesButtonContainer a:hover::after {
    top: -3px;
    bottom: -3px;
    right: -3px;
    left: -3px;
    filter: blur(10px);
  }
  
  #servicesButtonContainer a button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EFEFEF;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ff8e22;
    cursor: pointer;
  }
  
.accessories h3 {
    margin: 55px 0px 20px 0px;
    color: #222831;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}

#bestSeller, #allProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
}

#bestSeller img, #allProducts img {
    width: 190px;
    height: 190px;
    object-fit: cover;
}

figure {
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;

}

figure small {
    color: #04AA6D;
}

/* brief content */

#brief {
    background-image: url('../img/slide1.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    position: relative;
    z-index: 1;
}

#brief::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #0faab3 , #53ccd3,  #EFEFEF, #d17538, #ec8422);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 30%;
    z-index: 0;
}


.overldayElements {
    z-index: 1;
}

#brief h2 {
    color: white;
    line-height: 20px;
}

#brief button {
    position: relative;
    top: 20%;
    margin-right: 20px;
}

#sideText {
    background-color: hsla(0, 0%, 100%, 20%);
    padding: 10px;
    font-size: 17px;
    line-height: 200px;
    font-weight: bolder;
    font-family: 'Lato', sans-serif;

}


footer {
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222831; 
    color: white;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
    gap: 30px;
}


.adminButton {
    margin-left: 30px;
    width: 60%;
    outline: none;
    border: none;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: hsl(14, 100%, 57%);
    border-radius: 15px;
    box-shadow: 0 6px rgb(80, 80, 80);
  }
  
  .adminButton:hover {
    background-color: #ff5101;
    color: #222831;
  }
  
  .adminButton:active {
    background-color: #d8dbe7;
    box-shadow: 0 3px rgb(92, 91, 91);
    transform: translateY(4px);
  }


  figure figcaption {
    padding: 10px;
}

#accessories {
    height: 110vh;
    position :relative;
    top: -95px;
    }
