/* here we have the css for the buttons it needs somework */

html {
    filter: blur(10%);
}

.logInBtn {
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    right: 15px;
}


/* here is the css for the log in form it has a display of none and is */


/* only shown when you press on the log in button using js */

.form-popup {
    display: none;
    position: fixed;
    top: 0;
    right: 15px;
    border: 7px solid #ccc;
    z-index: 100;
}


/* here is the form container css */

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* here we put css to the username and password fields  */

.form-container input[type=text],
.form-container input[type=password] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


/* here is the css to username and password fields when focused */

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


/* css for the forgot password line */

.psw {
    float: left;
    padding-bottom: 16px;
    padding-left: 5px;
}


/* css for the submit button */

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


/* css for the close button */

.form-container .cancel {
    background-color: red;
}


/* css when hover over the submit and close buttons  */

.form-container .btn:hover {
    opacity: 1;
}

#LoginPic,
#LoginName {
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
}

h1 {
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

b, p {
    margin-right: 2px;
    font-size: 15px;
}

#Male, #Female {
    font-size: 15px;
} 

.blur {
    filter: blur(5px); 
}

#LoginName{
    color: white;
    padding-right: 20px;
}